<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Seedling | </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Roboto+Condensed&family=Teko:wght@500&display=swap" rel="stylesheet"
          type='text/css'>

</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: darkolivegreen;">
        <div class="container-fluid">

            <a class="navbar-brand"> @Html.ActionLink("SEEDLING", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "width: 10vw; color: rgba(255, 255, 255, 0.897)" })</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="color: rgba(255, 255, 255, 0.897)">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="">
                    <li class="nav-item" style="margin: auto; width:4.25vw;">
                        <a>@Html.ActionLink("About", "About", "Home", null, new { @style = "color: rgba(255, 255, 255, 0.897); text-decoration: none;" })</a>
                    </li>
                    <li class="nav-item" style="margin: auto; width: 4.25vw;">
                        <a>@Html.ActionLink("Contact", "Contact", "Home", null, new { @style = "color: rgba(255, 255, 255, 0.897); text-decoration: none;" })</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" style="color: rgba(255, 255, 255, 0.897);" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                                <li>@Html.ActionLink("Gardens", "Index", "Location", null, new { @style = "color: darkolivegreen;" })</li>

                                <li>@Html.ActionLink("Plants", "Index", "Plant", null, new { @style = "color: darkolivegreen;" })</li>

                                <li>@Html.ActionLink("Log", "Index", "LogEntry", null, new { @style = "color: darkolivegreen;" })</li>
                                <li><hr class="dropdown-divider"></li>
                                <li>@Html.ActionLink("Calendar", "Index", "BasicScheduler", null, new { @style = "color: darkolivegreen;" })</li>
                            </ul>
                            }
                        </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>









    @*<div class="navbar navbar-inverse navbar-fixed-top" style="background-color: darkolivegreen">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SEEDLING", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: rgba(255, 255, 255, 0.897)" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style=" font-size:12px;">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Gardens", "Index", "Location", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>

                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Plants", "Index", "Plant", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Log", "Index", "LogEntry", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Calendar", "Index", "BasicScheduler", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>
                    }
                    <li>@Html.ActionLink("About", "About", "Home", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @style = "color: rgba(255, 255, 255, 0.897)" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year SEEDLING </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
