@using PagedList;
@using PagedList.Mvc;
@model IPagedList<GrowLog.Models.LocationListItem>

@{
    ViewBag.Title = "Gardens";
}

<h2  class="indexTitle">Garden Bed Locations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Index", "Plant", new { locationId = item.LocationID }, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })
            </td>
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchBy = Request.QueryString["searchBy"], search = Request.QueryString["search"] }),
    new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true })


