@model GrowLog.Models.LogEntryDetail

@{
    ViewBag.Title = "Log Entries";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>@Html.DisplayFor(model => model.PlantName) </h4>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.Name)
        @Html.HiddenFor(model => model.PlantName)

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit Entry", "Edit", new { id = Model.LogEntryID }) |
    @Html.ActionLink($"{Model.PlantName} Log Entries", "Index", new { plantID = Model.PlantID }) |
    @Html.ActionLink("Plant List", "Index", "Plant")
</p>
