@model GrowLog.Models.PlantDetail

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.PlantName) </h2>

<div>
    <h4>@Html.DisplayFor(model => model.LocationName )</h4>
    <hr />
    <dl class="dl-horizontal">

        @Html.HiddenFor(model => model.PlantID)
        @Html.HiddenFor(model => model.LocationID)
        @Html.HiddenFor(model => model.PlantName)
        @Html.HiddenFor(model => model.LocationName)

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantingSeasonStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantingSeasonStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlantingSeasonEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlantingSeasonEnd)
        </dd>

    </dl>



</div>
<p>
    @Html.ActionLink($"{Model.PlantName} Log Entries", "Index", "LogEntry", new { plantID = Model.PlantID }, null) |
    @Html.ActionLink($"Edit {Model.PlantName}", "Edit", new { id = Model.PlantID }) |
    @Html.ActionLink("Plant List", "Index")
</p>
<style>
    .img-fluid{height: 50vh; width:50vw;}
</style>