@model GrowLog.Models.PlantDetail

@{
    ViewBag.Title = "Details";
}



<div class="plantDetail content-wrapper" style="width: 50vw; margin: auto;">
    <div class="spacer" style="height: 4.5vw"></div>
    <h2 class="indexTitle" style="color: rgba(255, 255, 255, 0.897); background-color: darkolivegreen; width: 50vw; margin: auto;
      font-family: 'Arbutus', sans-serif; font-size: 6vw; text-align: center; border-style: double;
      border-width: 0.40vw; border-color: darkslategray; border-radius: 7px;">
        @Html.DisplayFor(model => model.PlantName)
    </h2>
    <div class="spacer" style="height: 2vw"></div>


    <div class="detailData" style="color:darkslategray; ">
        <div style="display:flex;">
            <div class="locationName" style="font-family: 'Teko', sans-serif; font-size:4vw; color:darkslategray; width: 25vw;">@Html.DisplayFor(model => model.LocationName)</div>

            <div style="width: 25vw; text-align: end; margin-top: 1.2vw; ">
                <h4>Planting Season</h4>
                <p style="margin-top:-1vw;">
                    @Html.DisplayFor(model => model.PlantingSeasonStart) to @Html.DisplayFor(model => model.PlantingSeasonEnd)
                </p>
            </div>
        </div>

        <hr />
        <div class="dl-horizontal" style="display: flex; width: 50vw; height: 15vw;">

            @Html.HiddenFor(model => model.PlantID)
            @Html.HiddenFor(model => model.LocationID)
            @Html.HiddenFor(model => model.PlantName)
            @Html.HiddenFor(model => model.LocationName)


            @Html.DisplayFor(model => model.Description)


        </div>



    </div>
    <p>
        @Html.ActionLink($"{Model.PlantName} Log Entries", "Index", "LogEntry", null, new { plantID = Model.PlantID, @style = "color:darkslategrey;" }) ||
        @Html.ActionLink("Add Log Entry", "Create", "LogEntry", null, new { @class = "link ", style = "color: darkslategrey;" }) ||
        @Html.ActionLink($"Edit {Model.PlantName}", "Edit", new { id = Model.PlantID }, htmlAttributes: new { @class = "link", @style = "color: darkslategrey;" }) ||
        @Html.ActionLink("Plant List", "Index", null, htmlAttributes: new { @class = "link", @style = "color: darkslategrey;" }) ||
        @Html.ActionLink("Location List", "Index", "Location", null, new { @class = "link ", style = "color: darkslategrey;" })
    </p>
    <style>
        .img-fluid {
            height: 50vh;
            width: 50vw;
        }
    </style>
</div>
